# Repetition Datenstrukturen

> 0.Führe die folgende Code-Zelle aus, um die nötigen Datenstrukturen zu erstellen.

In [ ]:
import pandas as pd
my_list = [[80, 70, 60], [50, 40, 30], [20, 10, 0]]
my_df = pd.read_csv("https://perso.telecom-paristech.fr/eagan/class/igr204/data/cars.csv", sep=";", skiprows=range(1,2))

## Listen - Selektion

> 1. Schreibe in die nächste Zelle den Code um die Einträge `70` und `60` von `my_list` auszugeben. Versuche dafür nur eine Zeile Code zu verwenden.

> 2. Verwende in der nächsten Zelle einen for Loop um alle Elemente aus `my_list` der Reihe nach auszugeben. Verwende dafür Loops, welche Zahlen verwenden, so dass die Listenelemente über ihre Indexe angesprochen werden.

## Listen - Manipulation

> 3. Füge der Tabelle `my_list` eine weitere Row mit den Werten `[-10, -20, -30]` hinzu. Verwende hierfür den append-Befehl.

> 4. Ersetze die Einträge `[80, 70, 60]` in `my_list` mit `[110, 100, 90]`. Versuche nur eine Zeile Code dafür zu verwenden.

## Pandas - Selektion

> 5. Selektiere die ersten 13 Rows von `my_df`. Verwende dafür den `.iloc`-Befehl.

> 6. Lasse dir nun aus `my_df` alle Rows ausgeben, in denen ein Auto vorkommt, welches in Europa entwickelt wurde und über mehr als 120 Pferdestärken verfügt.

## Pandas - Manipulation

> 7. Erstelle eine neue Column in `my_df`, welche den Namen `acc_to_200` trägt und den doppelten Wert der Column `Acceleration` aufweist.

> 8. Überschreibe nun die Werte in der Column `acc_to_200` aus `my_df` mit dem Wert aus der Column `Cylinders`.

## Pandas - Summarieren

> 9. Schreibe den Code um herauszufinden, wie Schwer ein Auto aus `my_df` im Durchschnitt ist.

> 10. Wie schwer ist das leichteste Auto in `my_df`, welches aus Japan kommt?